@font-face {
	font-family: "OpenSans";
	src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
	font-size: 1em;
}

html, body{
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: 150px;
	background-color: #5e299a;
}

header .container {
	position: relative;
}

header .header-black {
	background-color: #000;
	height: 40px;
}

header .header-black li {
	background-image: url("../img/clubs.png");
	background-repeat: no-repeat;
	display: inline-block;
	margin: 4px 8px;
}

header .header-black li a{
  width: 32px;
  height: 32px;
  display: block;
}

header .header-black li.club-01 {
	background-position: 0px 0px;
}
header .header-black li.club-02 {
	background-position: -92px 0px;
}
header .header-black li.club-03 {
	background-position: -140px 0px;
}
header .header-black li.club-04 {
	background-position: -190px 0px;
}
header .header-black li.club-05 {
	background-position: -240px 0px;
}
header .header-black li.club-06 {
	background-position: -288px 0px;
}
header .header-black li.club-07 {
	background-position: -333px 0px;
}
header .header-black li.club-08 {
	background-position: -381px 0px;
}
header .header-black li.club-09 {
	background-position: -429px 0px;
}
header .header-black li.club-10 {
	background-position: -478px 0px;
}
header .header-black li.club-11 {
	background-position: -529px 0px;
}
header .header-black li.club-12 {
	background-position: -579px 0px;
}
header .header-black li.club-13 {
	background-position: -630px 0px;
}
header .header-black li.club-14 {
	background-position: -677px 0px;
}
header .header-black li.club-15 {
	background-position: -722px 0px;
}
header .header-black li.club-16 {
	background-position: -766px 0px;
}

header .row{
	background-color: #5e299a;
	height: 110px;
}

header #logotipo {
	position: absolute;
	top: 20px;
	left: 30px;
}

#menu li {
	display: inline-block;
	font-family: "OpenSans";
}

#menu li a {
	color: #FFF;
	font-size: 16px;
	padding: 10px 25px;
	font-weight: bold;
}